{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #FFFFFF;
    margin: 0;
}
.navtop {
    background-color: #3f69a8;
    height: 60px;
    width: 100%;
    border: 0;
}
.navtop div {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}
.navtop div h1, .navtop div a {
    display: inline-flex;
    align-items: center;
}
.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #ecf0f6;
    font-weight: normal;
}
.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #c5d2e5;
    font-weight: bold;
}
.navtop div a i {
    padding: 2px 8px 0 0;
}
.navtop div a:hover {
    color: #ecf0f6;
}
.content {
    width: 1000px;
    margin: 0 auto;
}
.content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #ebebeb;
    color: #666666;
}
.home .create-poll {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 15px 0;
}
.home .create-poll:hover {
    background-color: #32a367;
}
.home table {
    width: 100%;
    padding-top: 30px;
    border-collapse: collapse;
}
.home table thead {
    background-color: #ebeef1;
    border-bottom: 1px solid #d3dae0;
}
.home table thead td {
    padding: 10px;
    font-weight: bold;
    color: #767779;
    font-size: 14px;
}
.home table tbody tr {
    border-bottom: 1px solid #d3dae0;
}
.home table tbody tr:nth-child(even) {
    background-color: #fbfcfc;
}
.home table tbody tr:hover {
    background-color: #376ab7;
}
.home table tbody tr:hover td {
    color: #FFFFFF;
}
.home table tbody tr:hover td:nth-child(1) {
    color: #FFFFFF;
}
.home table tbody tr td {
    padding: 10px;
}
.home table tbody tr td:nth-child(1) {
    color: #a5a7a9;
}
.home table tbody tr td.actions {
    padding: 8px;
    text-align: right;
}
.home table tbody tr td.actions .view, .home table tbody tr td.actions .edit, .home table tbody tr td.actions .trash {
    display: inline-flex;
    text-align: right;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 12px;
    border-radius: 5px;
}
.home table tbody tr td.actions .trash {
    background-color: #b73737;
}
.home table tbody tr td.actions .trash:hover {
    background-color: #a33131;
}
.home table tbody tr td.actions .edit {
    background-color: #37afb7;
}
.home table tbody tr td.actions .edit:hover {
    background-color: #319ca3;
}
.home table tbody tr td.actions .view {
    background-color: #37b770;
}
.home table tbody tr td.actions .view:hover {
    background-color: #31a364;
}
.update form {
    padding: 15px 0;
    display: flex;
    flex-flow: column;
    width: 400px;
}
.update form label {
    display: inline-flex;
    width: 100%;
    padding: 10px 0;
    margin-right: 25px;
}
.update form input, .update form textarea {
    padding: 10px;
    width: 100%;
    margin-right: 25px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
}
.update form textarea {
    height: 200px;
}
.update form input[type="submit"] {
    display: block;
    background-color: #38b673;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    width: 200px;
    margin-top: 15px;
    border-radius: 5px;
}
.update form input[type="submit"]:hover {
    background-color: #32a367;
}
.delete .yesno {
    display: flex;
}
.delete .yesno a {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 15px 10px 15px 0;
    border-radius: 5px;
}
.delete .yesno a:hover {
    background-color: #32a367;
}
.poll-vote form {
    display: flex;
    flex-flow: column;
}
.poll-vote form label {
    padding-bottom: 10px;
}
.poll-vote form input[type="radio"] {
    transform: scale(1.1);
}
.poll-vote form input[type="submit"], .poll-vote form a {
    display: inline-block;
    padding: 8px;
    border-radius: 5px;
    background-color: #38b673;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    width: 150px;
    margin-top: 15px;
}
.poll-vote form input[type="submit"]:hover, .poll-vote form a:hover {
    background-color: #32a367;
}
.poll-vote form a {
    text-align: center;
    text-decoration: none;
    background-color: #37afb7;
    margin-left: 5px;
}
.poll-vote form a:hover {
    background-color: #319ca3;
}
.poll-result .wrapper {
    display: flex;
    flex-flow: column;
}
.poll-result .wrapper .poll-question {
    width: 50%;
    padding-bottom: 5px;
}
.poll-result .wrapper .poll-question p {
    margin: 0;
    padding: 5px 0;
}
.poll-result .wrapper .poll-question p span {
    font-size: 14px;
}
.poll-result .wrapper .poll-question .result-bar {
    display: flex;
    height: 25px;
    min-width: 5%;
    background-color: #38b673;
    border-radius: 5px;
    font-size: 14px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}
footer {
    background-color: #3f69a8;
    padding: 20px;
    text-align: center;
}